body {
    background-color: rgb(67, 156, 239);
    font-family: Open Sans, arial, sans-serif;
    margin:0px;
  }

  h1 {
    color: rgb(236, 243, 243);
    font-size: 16px;
    font-weight: 500;
  }


  .forecast_label {
    position: absolute;
    top:5%;
    left:5%;
    width:33%;
    font-size: 30px;
    font-weight: 700;
    color: rgb(108, 180, 248);
    text-align: left;
}

.conditions_label {
    position: absolute;
    top:5%;
    left:5%;
    width:80%;
    font-size: 30px;
    font-weight: 700;
    color: rgb(108, 180, 248);
    text-align: left;
}