
#now_box {
    position: relative;
    float:left;
    border-radius: 25px;
    background-color: rgb(53, 114, 172);
    color: rgb(236, 243, 243);
    font-size: 32px; 
    font-weight: 600;

    margin-top:0px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:10px;
    width: 900px;
    height: 470px;
  } 

  #now_parent {
    overflow:hidden;
    margin:0px;
    width: 900px;
    height: 455px;
    text-align: left;
  }

#now_conditions {
    margin-top:60px;
    margin-left:50px;
    margin-bottom:10px;
    margin-right:0px;
    width: 830px;
    text-align: left;
}

#now_next_label {
    margin-top:0px;
    margin-left:50px;
    margin-bottom:10px;
    margin-right:0px;
    width: 830px;
    text-align: left;

    font-size: 30px;
    font-weight: 700;
    color: rgb(108, 180, 248);
}


#now_next_conditions {  
    margin-top:0px;
    margin-left:50px;
    margin-bottom:10px;
    margin-right:0px;
    width: 830px;
    text-align: left;
}

